<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Multi-Page-Form</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <div
      data-theme="dark"
      class="min-h-screen flex items-center justify-center bg-gray-900 text-white"
    >
      <div class="text-center">
        <h1 class="text-4xl font-bold mb-4">Multi-Page-Form</h1>
        <button class="btn btn-primary">Start</button>
      </div>
    </div>
  </body>
</html>
